<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl" value="https://api.mailgun.net/v3/"/>
    <add key="Domain" value="your-domain-here"/>
    <add key="PrivateApiKey" value="your-private-key-here"/>
    <add key="PublicApiKey" value="your-public-key-here"/>
    <add key="TestRecipient" value="your-recipient@example.com"/>
    <add key="TestSender" value="your-sender@example.com"/>
    <add key="TestDomain" value="example.com"/>
    <add key="TestSubDomain" value="sub.example.com (will be deleted by unit test!)"/>
  </appSettings>
</configuration>